body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:978px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u367 {
  position:absolute;
  left:234px;
  top:274px;
  width:374px;
  height:660px;
}
#u368 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:464px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  position:absolute;
  left:250px;
  top:353px;
  width:338px;
  height:464px;
}
#u371 {
  position:absolute;
  left:2px;
  top:54px;
  width:334px;
  word-wrap:break-word;
}
#u372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
}
#u372 {
  position:absolute;
  left:234px;
  top:167px;
  width:374px;
  height:107px;
}
#u373 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u374 {
  position:absolute;
  left:608px;
  top:270px;
  width:28px;
  height:664px;
}
#u375 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:109px;
}
#u376 {
  position:absolute;
  left:234px;
  top:934px;
  width:374px;
  height:109px;
}
#u377 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u378 {
  position:absolute;
  left:206px;
  top:167px;
  width:28px;
  height:107px;
}
#u379 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u380 {
  position:absolute;
  left:608px;
  top:934px;
  width:28px;
  height:109px;
}
#u381 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u382 {
  position:absolute;
  left:206px;
  top:274px;
  width:28px;
  height:664px;
}
#u383 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u384 {
  position:absolute;
  left:206px;
  top:934px;
  width:28px;
  height:109px;
}
#u385 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u386 {
  position:absolute;
  left:608px;
  top:167px;
  width:28px;
  height:107px;
}
#u387 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u388 {
  position:absolute;
  left:233px;
  top:274px;
  width:375px;
  height:20px;
}
#u389 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u390 {
  position:absolute;
  left:234px;
  top:882px;
  width:374px;
  height:52px;
}
#u391 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u392 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u393 {
  position:absolute;
  left:314px;
  top:307px;
  width:235px;
  height:36px;
  font-size:28px;
  color:#FFFFFF;
}
#u394 {
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u395 {
  position:absolute;
  left:238px;
  top:296px;
  width:58px;
  height:58px;
}
#u396 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:206px;
}
#u397 {
  position:absolute;
  left:259px;
  top:364px;
  width:318px;
  height:206px;
}
#u398 {
  position:absolute;
  left:2px;
  top:95px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:126px;
}
#u399 {
  position:absolute;
  left:259px;
  top:570px;
  width:318px;
  height:126px;
}
#u400 {
  position:absolute;
  left:2px;
  top:55px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u401 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:134px;
}
#u402 {
  position:absolute;
  left:664px;
  top:369px;
  width:149px;
  height:134px;
}
#u403 {
  position:absolute;
  left:2px;
  top:59px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:3px;
}
#u404 {
  position:absolute;
  left:583px;
  top:394px;
  width:208px;
  height:3px;
}
#u405 {
  position:absolute;
  left:2px;
  top:-6px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u406 {
  position:absolute;
  left:791px;
  top:353px;
  width:187px;
  height:85px;
}
#u407 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u408 {
  position:absolute;
  left:760px;
  top:617px;
  width:187px;
  height:85px;
}
#u409 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:134px;
}
#u410 {
  position:absolute;
  left:623px;
  top:633px;
  width:149px;
  height:134px;
}
#u411 {
  position:absolute;
  left:2px;
  top:59px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:3px;
}
#u412 {
  position:absolute;
  left:542px;
  top:658px;
  width:208px;
  height:3px;
}
#u413 {
  position:absolute;
  left:2px;
  top:-6px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:40px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  position:absolute;
  left:340px;
  top:710px;
  width:159px;
  height:40px;
}
#u415 {
  position:absolute;
  left:2px;
  top:12px;
  width:155px;
  word-wrap:break-word;
}
#u416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:42px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u416 {
  position:absolute;
  left:333px;
  top:763px;
  width:174px;
  height:42px;
}
#u417 {
  position:absolute;
  left:2px;
  top:13px;
  width:170px;
  word-wrap:break-word;
}
#u418 {
  position:absolute;
  left:276px;
  top:482px;
  width:286px;
  height:323px;
  overflow:hidden;
  visibility:hidden;
}
#u418_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:323px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u418_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u419_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:316px;
}
#u419 {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:316px;
}
#u420 {
  position:absolute;
  left:2px;
  top:150px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u421 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u422 {
  position:absolute;
  left:440px;
  top:889px;
  width:127px;
  height:39px;
  color:#1E1E1E;
}
#u423 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u424 {
  position:absolute;
  left:278px;
  top:889px;
  width:127px;
  height:39px;
}
#u425 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
