body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:966px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:660px;
}
#u590 {
  position:absolute;
  left:244px;
  top:284px;
  width:374px;
  height:660px;
}
#u591 {
  position:absolute;
  left:2px;
  top:322px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:107px;
}
#u592 {
  position:absolute;
  left:244px;
  top:177px;
  width:374px;
  height:107px;
}
#u593 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u594 {
  position:absolute;
  left:618px;
  top:280px;
  width:28px;
  height:664px;
}
#u595 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:109px;
}
#u596 {
  position:absolute;
  left:244px;
  top:944px;
  width:374px;
  height:109px;
}
#u597 {
  position:absolute;
  left:2px;
  top:46px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u598 {
  position:absolute;
  left:216px;
  top:177px;
  width:28px;
  height:107px;
}
#u599 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u600 {
  position:absolute;
  left:618px;
  top:944px;
  width:28px;
  height:109px;
}
#u601 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:664px;
}
#u602 {
  position:absolute;
  left:216px;
  top:284px;
  width:28px;
  height:664px;
}
#u603 {
  position:absolute;
  left:2px;
  top:324px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:109px;
}
#u604 {
  position:absolute;
  left:216px;
  top:944px;
  width:28px;
  height:109px;
}
#u605 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:107px;
}
#u606 {
  position:absolute;
  left:618px;
  top:177px;
  width:28px;
  height:107px;
}
#u607 {
  position:absolute;
  left:2px;
  top:46px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u608 {
  position:absolute;
  left:243px;
  top:284px;
  width:375px;
  height:20px;
}
#u609 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:52px;
  background:inherit;
  background-color:rgba(204, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u610 {
  position:absolute;
  left:244px;
  top:892px;
  width:374px;
  height:52px;
}
#u611 {
  position:absolute;
  left:2px;
  top:18px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u613 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u615 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u616 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:134px;
}
#u617 {
  position:absolute;
  left:652px;
  top:618px;
  width:149px;
  height:134px;
}
#u618 {
  position:absolute;
  left:2px;
  top:59px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:3px;
}
#u619 {
  position:absolute;
  left:571px;
  top:643px;
  width:208px;
  height:3px;
}
#u620 {
  position:absolute;
  left:2px;
  top:-6px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:85px;
}
#u621 {
  position:absolute;
  left:779px;
  top:602px;
  width:187px;
  height:85px;
}
#u622 {
  position:absolute;
  left:2px;
  top:18px;
  width:183px;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:58px;
}
#u623 {
  position:absolute;
  left:243px;
  top:308px;
  width:58px;
  height:58px;
}
#u624 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u625 {
  position:absolute;
  left:314px;
  top:317px;
  width:235px;
  height:36px;
  font-size:28px;
  color:#FFFFFF;
}
#u626 {
  position:absolute;
  left:2px;
  top:2px;
  width:231px;
  word-wrap:break-word;
}
#u627 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:260px;
  top:379px;
  width:336px;
  height:313px;
}
#u629 {
  position:absolute;
  left:2px;
  top:10px;
  width:332px;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  position:absolute;
  left:298px;
  top:641px;
  width:131px;
  height:37px;
}
#u631 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:429px;
  top:641px;
  width:128px;
  height:37px;
}
#u633 {
  position:absolute;
  left:2px;
  top:10px;
  width:124px;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:1px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  position:absolute;
  left:308px;
  top:419px;
  width:243px;
  height:1px;
}
#u635 {
  position:absolute;
  left:2px;
  top:-8px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:99px;
}
#u636 {
  position:absolute;
  left:293px;
  top:530px;
  width:134px;
  height:99px;
}
#u637 {
  position:absolute;
  left:2px;
  top:42px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:99px;
}
#u638 {
  position:absolute;
  left:427px;
  top:530px;
  width:134px;
  height:99px;
}
#u639 {
  position:absolute;
  left:2px;
  top:42px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:100px;
}
#u640 {
  position:absolute;
  left:293px;
  top:430px;
  width:134px;
  height:100px;
}
#u641 {
  position:absolute;
  left:2px;
  top:42px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:99px;
}
#u642 {
  position:absolute;
  left:427px;
  top:431px;
  width:134px;
  height:99px;
}
#u643 {
  position:absolute;
  left:2px;
  top:42px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644 {
  position:absolute;
  left:406px;
  top:438px;
  width:16px;
  height:16px;
}
#u645 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u646 {
  position:absolute;
  left:535px;
  top:440px;
  width:16px;
  height:16px;
}
#u647 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u648 {
  position:absolute;
  left:401px;
  top:540px;
  width:16px;
  height:16px;
}
#u649 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u648_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u650 {
  position:absolute;
  left:535px;
  top:540px;
  width:16px;
  height:16px;
}
#u651 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u653 {
  position:absolute;
  left:444px;
  top:899px;
  width:127px;
  height:39px;
  color:#1E1E1E;
}
#u654 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u655 {
  position:absolute;
  left:282px;
  top:899px;
  width:127px;
  height:39px;
}
#u656 {
  position:absolute;
  left:2px;
  top:12px;
  width:123px;
  word-wrap:break-word;
}
